*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Navbar {
    height: 60px;
    background-color: #cecece;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.logo{
    width: 80px;
}
.img{
    width: 100%;
}
.productDetails{
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    margin: auto;
    padding: 4% 12%;
    box-sizing: border-box;
    align-items: center;
}
.productImg{
    width: 50%;
    /* margin: auto 24px; */
}
.productBody{
    width: 50%;
}
.colorPalette{
    width: 60px;
    margin-right: 12px;
    border-radius: 10px;
    cursor: pointer;
}
.colorPalette:hover{
    border: 2px solid teal;
}
.colorColumn{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
}