*{
    margin: 0;
    box-sizing: border-box;
}

.blogcard{
    text-align: center;
    margin: 8px;
    width: 400px;
    background-color: rgb(241, 241, 241);
    border-radius: 8px;
    overflow: hidden;
}
.bloghead{
    padding: 8px 16px;
    background-color: rgb(228, 228, 228);
    display: flex;
    justify-content: space-between;
}
.blogbody{
    padding: 16px;
}
.blog{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}